* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: rgb(255 255 255);
    color: #fff;
    padding: 15px 10px;
    text-align: center;
}

header h1 {
    font-size: 21px;
    margin: 0;
}

main {
    padding: 30px 5px;
    background-color: #f2f2f2;
    margin: 0 auto;
}
ol {
    padding: 10px 0px:
}
article {
    padding: 7px 25px;
    max-width: 700px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 7px;
}

article h1, h2, p {
    padding: 14px;
    
}

.highlight {
    font-weight: bold;
    color: #d71a1a;
}

.video-section {
    text-align: center;
    margin: 30px 0;
}

.video-section h1, h2 {
    font-siza: 21px
}

img {
    border-radius: 7px;
}

.video-section p {
    font-size: 14px;
}

.cta-button {
    display: inline-block;
    background-color: #14ba29;
    color: #fff;
    padding: 11px 70px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 14px;
}

.cta-button:hover {
    background-color: #73e01a;
}

footer {
    background-color: #f2f2f2;
    padding: 15px;
    text-align: center;
    color: #555;
    font-size: 11px;
}

footer a {
    color: #d71a1a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    .cta-button {
        padding: 11px 70px;
        font-size: 16px;
    }
}

.img {
    border-radius: 7px;
}

.content {
    background-image: url(../img/back.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;      /* vertical */
    justify-content: center;  /* horizontal */
    backdrop-filter: blur(25px);
}

.content-img {
    background-image: url(../img/arena.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
padding: 14px 70px;
color: #fff;
background-color: rgb(195, 32, 182);
border: 2px solid rgba(0, 0, 0, .15);
border-radius: 7px;
background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, 0));
background-origin: border-box;
font-weight: 600;
font-size: 16px;
box-shadow: 0px 10px 13px rgb(2 2 2 / 51%);
cursor: pointer;
}

.loading-container-port {
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
    bottom: 250px;
}

@media (max-width: 414px) {
.loading-container-port {
bottom: 220px;
}
.video-section img {
width: 70%;
}
}

@media (max-width: 375px) {
.loading-container-port {
bottom: 120px;
}
}


